*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 20px;
}

/* layout rules */

.container{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.row{
    display: flex;
    flex-direction: column;
}

.col-double, .col-30, .col-50, .col-60, .col-40, .col-100{
    width: calc(100% - 20px);
    margin: 10px;
    padding: 30px;
}

.text-center{
    text-align: center;
}

.extended-menu{
    display: none;
}


.black{
    background-color: #222;
}

.white{
    background-color: white;
}

header, .button-blu{
    background-color: #0084fd;
}

/* INIZIO HEADER */

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
}

.caratteristiche-link{
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.button-header{
    margin-left: 20px;
}

.button-white{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
/* FINE HEADER */

/* INIZIO MAIN */

/* INIZIO SECTION 1 */
.h2-section1-blu{
    color: #0084fd;
    font-size: 25px;
}

.button-blu{
    width: 70%;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}

.background{
    background-color: #b5ddff;
    border-radius: 20px;
}

.col-double{
    padding: 20px 20px 0px 20px;
}

.img-phone{
    max-width: 100%;
    margin-bottom: -5px;
}

.flex{
    display: flex;
    flex-direction: column;
}
.col-30{
    text-align: center;
}

.dimension-icon{
    color: #0084fd;
    font-size: 80px;
    margin: 60px 0;
}

.distance-margin{
    margin: 30px;
}

.color-p{
    color: gray;
    line-height: 1.5rem;
    font-weight: bold;
}
/* FINE SECTION 1 */

/* INIZIO SECTION 2 */
.background-violet{
    background-color: #9792e4;
    padding:0 20px
}

.planning-img{
    width: 100%;
}

.back-col-50-white{
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding: 0 20px;
}

.mod-h2-sec2{
    font-size: 25px;
    color: #fff;
    padding:20px 0;
}

.mod-p-sec2{
    color: #fff;
    font-size: 16px;
    line-height: 1.5rem;
}

.mod-h3-sec2{
    font-size: 22px;
    padding: 20px;
}

.mod-p2-sec2{
    font-size: 16px;
    font-style: italic;
    line-height: 1.5rem;
    
}

.mod-arrow{
    background-color: #9792e4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 30px;
    padding: 15px 15px;
}
/* FINE SECTION 2 */


/* FINE MAIN */

/* TABLET */
@media screen and (min-width: 768px) {
    .container{
        max-width: 750px;
    }

    .content{
        flex-direction: row;
    }

    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-double{
        width: calc(100% / 3 * 2 - 20px);
    }

    .col-30{
        width: calc(100% / 3 - 20px);
    }

    #benefits .col-30{
        width: calc(100% / 2 - 20px);
    }

    .col-60{
        width: calc(60% - 20px);
    }

    .col-40{
        width: calc(40% - 20px);
    }
}

@media screen and (min-width: 991px) {
    .container{
        max-width: 950px;
    }

    .extended-menu{
        display: block;
    }

    .hamburger-menu{
        display: none;
    }
    #benefits .col-30{
        width: calc(100% / 3 - 20px);
    }

    .col-50{
        width: calc(50% - 20px);
    }

}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
    
}